body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(190, 28, 82);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
  width: 60%;
  margin-top: 20%;
  padding-left: 30%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange, rgb(190, 28, 82)  
) ;
    padding: 10px 30px;
    border-radius:  20px;
}
.top-banner{
    background-image: url(img/top-banner.png) ;
    background-repeat: no-repeat;
}
.scndimg-width img{
width: 50%;
padding-left: 5%;

}

.dream-sec{
    display: flex;
}
.dream-sec{
    background-image: url(img/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
